/* Move Furo's "Back to Top" button to the bottom of the screen. */
.back-to-top {
  top: unset;
  bottom: 5%;
}

div.legend {
  font-size: 0.8em;
  margin-bottom: 1em;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
